.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 575.98px) {
  .flex-container {
    height: 85vh;
  }

  .text-message-typing {
    flex: 1;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    font-size: 22px;
  }

  .loader-typing {
    margin-top: 56px;
  }

  .action-button-typing {
    flex: 1;
    margin-top: 88px;
  }
}
