@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500');

body {
  background-color: rgba(254, 252, 254, 1) !important;
  font-family: 'IBM Plex Mono', monospace !important;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-out;
}
